<div class = "container font_inter24" >
    <br>
    <div class = "text-center" style="font-style:italic;">
        To help us better understand how we can serve you, please complete the form below, Note: Each individual seeking counseling should complete a separate form, except for children under age 12.
    </div>
    <br>
<div id="form_body" class="form_body" style="font-size:20px;">
   <%= form_for  @pdi  ,local: true do |f| %>

        <% @pdi_columns.each_with_index do |c| %>
            <%= f.label c.pdi_column_name, c.pdi_column_description  %>
            <% if c.pdi_column_name == 'date_of_birth'%>
                <%= f.date_field c.pdi_column_name, class: "form-control",  required:  c.required%>
            <% elsif c.pdi_column_name == 'reminder_type'%>
            <%= f.select c.pdi_column_name, options_for_select(@reminder_types.collect {|p| p.reminder_type} ) , 
                                        {  include_blank: ""}, {class: " form-control"}%>
            <% elsif c.pdi_column_name == 'gender'%>
                <%= f.select c.pdi_column_name, options_for_select(['MALE','FEMALE']),{ include_blank: ""}, {class: "form-control"} %>
            <% elsif c.pdi_column_name == 'church_member' %>  
                <%= f.select c.pdi_column_name, options_for_select(['YES','NO']),{ include_blank: ""}, {class: "form-control"} %>
            <% elsif c.pdi_column_name == 'salvation_story' || c.pdi_column_name == 'past_counseling_details' %>  
              <%= f.text_area c.pdi_column_name, class: "form-control",  required:  c.required%>  
            <% else%>
                <%= f.text_field c.pdi_column_name, class: "form-control", rows: 5, required:  c.required%>
            <% end %>
                
        <%end %>
        <br>
        <%= hidden_field_tag :form_number, @form_number if @form_number%>
        <div style="text-align:center;">
            <% if defined?(@form_number) && @form_number == 5 %>
                <%= f.submit 'SUBMIT',  class: "btn global_button_blue mt-auto"%>
            <% else %>
                <%= f.submit 'CONTINUE',  class: "btn global_button_blue mt-auto"%>
            <% end %>
         </div>
    <% end %>
    </div>
</div>