<div class = "container font_inter24" >
   
<div id="form_body" class="form_body" style="font-size:20px;">
   <%= form_for  @pdi  ,local: true ,data:{controller: "pdi" } do |f| %>

        <% @pdi_columns.each_with_index do |c| %>
            <%= f.hidden_field :pdiid,  id: "pdiid"%>

            <%= f.label c.pdi_column_name, c.pdi_column_description  %>
            <% if c.pdi_column_name == 'date_of_birth'%>
                <%= f.date_field c.pdi_column_name, class: "form-control",  required:  c.required%>
            <% elsif c.pdi_column_name == 'reminder_type'%>
            <%= f.select c.pdi_column_name, options_for_select(@reminder_types.collect {|p| p.reminder_type} ) , 
                                        {  include_blank: ""}, {class: " form-control"}%>
            <% elsif c.pdi_column_name == 'gender'%>
                <%= f.select c.pdi_column_name, options_for_select(['MALE','FEMALE']),{ include_blank: ""}, {class: "form-control"} %>
            <% elsif ['past_counseling','church_member','medical_conditions'].include?(c.pdi_column_name)  %>  
                <%= f.select c.pdi_column_name, options_for_select(['YES','NO']),{ include_blank: ""}, {class: "form-control"} %>
            <% elsif ['salvation_story','past_counseling_details','additional_medical_details','counseling_details'].include?(c.pdi_column_name) %>  
              <%= f.text_area c.pdi_column_name, class: "form-control", rows: 5, required:  c.required%>  
            <% elsif c.pdi_column_name == 'counseling_category' %>
                <%= render 'pdi_forms/select_counseling_categories' %>
            <% elsif c.pdi_column_name == 'martial_status' %>  
                <%= f.select c.pdi_column_name, options_for_select(['SINGLE','MARRIED','SEPARATED','DIVORCED','WIDOW']),{ include_blank: ""}, {class: "form-control"} %>
            
            <% else%>
                <%= f.text_field c.pdi_column_name, class: "form-control",  required:  c.required%>
            <% end %>
                
        <%end %>
        <br>
        <%= hidden_field_tag :form_number, @form_number if @form_number%>
        <div style="text-align:center;">
            <% if defined?(@form_number) && @form_number == 5 %>
                <%= f.submit 'SUBMIT',  class: "btn global_button_blue mt-auto"%>
            <% else %>
                <%= f.submit 'CONTINUE',  class: "btn global_button_blue mt-auto"%>
            <% end %>
         </div>
    <% end %>
    </div>
</div>