<br><hr>
<footer class="bg-transparent nav_link py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="d-flex justify-content-left mt-3">
        <ul class="list-unstyled">
            <li><h5>FOLLOW US</h5></li>
             <hr>
             <li>
               <a href="https://www.facebook.com/profile.php?id=100063888915018#" target="_blank" class="text-decoration-none me-3">
                <i class="bi bi-facebook" style = "color:black;"></i>
              </a>

              <a href="https://www.instagram.com/upstatebiblicalcounseling/" target="_blank" class="text-decoration-none me-3">
                <i class="bi bi-instagram" style = "color:black;"></i>
              </a>

              <a href="https://www.instagram.com/upstatebiblicalcounseling/" target="_blank" class="text-decoration-none me-3">
                <i class="bi bi-envelope" style = "color:black;"></i>
              </a>

             </li>
         </ul>      
         
        </div>
      </div>

      <div class="col-md-1">
      </div>


      <div class="col-md-4">        
        <div class="d-flex justify-content-left mt-3">          
        <ul class="list-unstyled">
          <li><h5>INFORMATION</h5></li>
          <hr>
          <li><%= link_to "REQUEST COUNESLING", root_path, class: "nav_link" %></li>                  
          <li><%= link_to "PARTNER WITH US", partner_pages_path, class: "nav_link" %></li>
          <li><%= link_to "ABOUT US", about_pages_path, class: "nav_link" %></li>
          <li><%= link_to "FAQ", about_faq_pages_path, class: "nav_link" %></li>
          <li><%= link_to "LOGIN", login_path, class: "nav_link" %></li>
        </ul>
        </div>
      </div>

      <div class="col-md-4">
         <div class="d-flex justify-content-left mt-3">     
        <ul class="list-unstyled">
           <li><h5>CONTACT US</h5></li>
          <hr>
          <li class = "nav_link" >PHONE: 864.743.1514</li>
          <li class = "nav_link" >EMAIL: info@upstatebc.org</li>
          <li class = "nav_link" >ADDRESS: 1019 Tiger Blvd. Clemson, SC</li>
        </ul>
      </div>
      </div>
  </div>
</footer>
